html body {
    font-family: sans-serif;
    background-color: rgba(255, 190, 0, 0.23);
    font-family: 'Raleway', sans-serif;
}

/* LOGIN */

.login-form {
    width: 30%;
    position: absolute;
    padding: 20px;
    left: 35%;
    top: 25%;
    font-weight:bold;
    border: 1px solid #717171;
    background-color: white;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 30px rgba(56, 48, 0, 0.7);
}

.login-form .error {
    color: red;
    font-size: small;
}

.login-form label {
    text-align: right;
}

.login-form h3 {
    margin-bottom: 20px;
}

.login-label {
    display: inline-block;
    width: 80px;
    text-align: right;
    font-weight: bolder;
}

.login-field {
    text-align: left;
    width: 300px;
}

.logout-button {
    float: right;
    height: 30px;
    margin-top: 10px;
}

/* Page Layout */

.top-bar {
    border-bottom: 1px solid black;
    padding: 10px 15px 5px 15px;
    display: block;
    height: 50px;
    width: calc(100% - 10px);
    clear: both;
    /*float: left;*/
    font-size: larger;
}

.main-container {
    padding: 10px;
    width: calc(100% - 50px);
}

.content-container {
    padding: 20px;
    border: 1px solid black;
    border-top: none;
    height: calc(100% - 110px);
    width: calc(100% - 30px);
    position: absolute;
    background-color: white;
    overflow: scroll;
}




/* Navigation Tabs */

.tab-bar {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 0;
    border-bottom: 1px solid black;
    font-size: small;
    margin-bottom: 0;
}

.tab {
    height: 30px;
    margin: 0 10px 0 0;
    padding: 4px 20px 0 20px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    font-weight: bolder;
    color: black;
    background-color: transparent;
}

.active-tab {
    border-bottom: 1px solid white;
    color: black;
    background-color: white;
}


/* Services */

.service-list {
    float: left;
    width: 160px;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    clear: left;

}

.service-header {
    width: 150px;
    height: 20px;
    padding: 3px 5px 0 5px;
    margin-bottom: 5px;
    color: white;
    background-color: black;
    text-align: center;
}
.service-block {
    width: 150px;
    height: 30px;
    padding: 10px 5px 0 5px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
}

.service-block input {
    float: right;
}

.timetable {
    width: calc(100% - 200px);
    border: 1px solid black;
    float: left;
    height: 100%;
    margin-left: 20px;
    border-radius: 4px;
}

.timetable th {
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 0 10px 5px rgba(255,255,255,0.3) inset;
}

.hour-col {
    width: 50px;
    box-shadow: none;
}

.hour-row td {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;

}

.hour-label {
    font-size: xx-small;
    text-align: right;
    background-color: black;
    color: white;
    border: none;
    vertical-align: top;
    transform: translate(0, -6px);


}

.day-col {
    width: 150px;
}

.timetable-item {
    color: black;
    display: none;
    position: absolute;
    background-color: red;
    border: 1px solid black;
    left: 100px;
    top: 100px;
    width:10px;
    height: 100px;
    margin: 0;
    padding: 0;
    /*opacity: 0.8;*/
    text-align: center;
    font-size: small;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 1px 1px black;
}
/* Utility */

.float-left {
    float: left;
}

.float-right {
    float: right;
}